.SidebarGridItem {
  height: 53px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 12px;
}

.SidebarGridItem p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.SidebarGridItem .rightSide,
.SidebarGridItem .leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.SidebarGridItem .rightSide {
  width: 80px;
  font-size: 13px;
  text-align: right;
  color: #999;
}

.SidebarGridItem .leftSide {
  width: calc(100% - 80px);
}

.SidebarGridItem p.name {
  font-size: 14px;
}

.SidebarGridItem .details {
  font-size: 12px;
  color: #999;
}
