/* General Sidebar */
.Sidebar {
  position: relative;
  will-change: opacity, left, contents;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.Sidebar.closed {
  height: 72px;
  width: 45px;
  color: #fff;
  animation: 0.5s enter backwards ease-in-out;
  cursor: pointer;
  top: calc(50% - 36px);
}

.Sidebar.opened {
  width: 250px;
  height: 100vh;
  border-right: 1px solid #ddd;
  animation: 0.3s enterOpened backwards ease-in-out;
  overflow: hidden;
}

.Sidebar.closing {
  animation: 0.3s closing backwards ease-in-out;
}

/* Open Button */
.Sidebar .openButton {
  background-color: #3698d6;
  border: 1px solid #3698d6;
  border-left: none;
  width: 45px;
  height: 100%;
  font-size: 30px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 0 2px 2px 0;
  user-select: none;
}

.Sidebar .openButton:hover {
  background: #fff;
  color: #3698d6;
}

.Sidebar .openButton:hover span {
  opacity: 1;
}

/* Opened Sidebar */
.Sidebar .OpenedSidebar {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Sidebar .OpenedSidebar .sidebarHeader {
  position: relative;
  padding: 7px 57px 7px 12px ;
  background: #eee;
}

.Sidebar .OpenedSidebar .sidebarHeader h1 {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  color: #3698d6;
  display: flex;
}

.Sidebar .OpenedSidebar .sidebarHeader h1 .sidebarName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Sidebar .OpenedSidebar .sidebarHeader .buttons {
  position: absolute;
  right: 10px;
  top: 5px;
}

.Sidebar .OpenedSidebar .sidebarHeader .buttons span {
  vertical-align: middle;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  margin-left: 10px;
  user-select: none;
  color: #999;
}

.Sidebar .OpenedSidebar .sidebarHeader .buttons span:hover {
  color: #3698d6;
}

.Sidebar .OpenedSidebar .sidebarHeader .buttons span.close {
  font-size: 20px;
  font-weight: 200;
}

.Sidebar .OpenedSidebar .searchContainer {
  border-bottom: 1px solid #ddd;
  height: 30px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.Sidebar .OpenedSidebar .searchContainer input[type=text] {
  border: none;
  width: calc(100% - 30px);
  height: 100%;
  padding: 7px 12px;
  outline: none;
  font-size: 12px;
  transition: 0.3s;
  vertical-align: middle;
}

.Sidebar .OpenedSidebar .searchContainer input[type=text]::placeholder {
  color: #ccc;
  transition: 0.3s;
}

.Sidebar .OpenedSidebar .searchContainer input[type=text]:focus::placeholder {
  color: #999;
}

.Sidebar .OpenedSidebar .searchContainer .sortButton {
  display: inline-block;
  font-size: 7px;
  line-height: 8px;
  cursor: pointer;
  vertical-align: middle;
  width: 30px;
  text-align: center;
  user-select: none;
  padding: 7px 0;
  color: #999;
  transition: 0.3s;
}

.Sidebar .OpenedSidebar .searchContainer .sortButton:hover,
.Sidebar .OpenedSidebar .searchContainer .sortButton.sortEnabled {
  color: #3698d6;
}

.Sidebar .OpenedSidebar .searchContainer .sortButton span {
  display: block;
  transform: scaleX(1.4);
}

.Sidebar .OpenedSidebar .searchContainer .sortButton span.hidden {
  display: none;
}

.Sidebar .OpenedSidebar .items {
  flex-basis: 100%;
  overflow: auto;
}

.Sidebar .OpenedSidebar .items .errorText {
  text-align: center;
  color: #3698d6;
  font-size: 14px;
  font-weight: 300;
}

/* Animations */
@keyframes enter {
  from {
    left: -45px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes enterOpened {
  0% {
    left: -250px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes closing {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: -250px;
  }
}
